<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab1" color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title>
            All Tours
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="top-exp">
        <ion-grid class="top-prop">
            <ion-row align-items-center *ngFor="let tour of allTours">
                <ion-col size="6">
                    <ion-img (click)="tourDetail(tour.id)" [src]="
              tour.image ? tour.image : './assets/img/property/no_image.png'
            "></ion-img>
                </ion-col>
                <ion-col size="6">
                    <h3 class="title">{{ tour.title | slice: 0:15 }}</h3>
                    <p class="desc">{{ tour.description | slice: 0:50 }}...</p>
                    <ion-button class="book-now" (click)="tourDetail(tour.id)">
                        Book for {{ tour.price }}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>