ion-item.profile-header,
ion-item.trans {
    --background: transparent;
    ion-label {
        h2 {
            font-size: 22px;
        }
        p {
            align-items: center;
            display: flex;
            ion-icon {
                font-size: 20px;
            }
        }
    }
    ion-avatar {
        width: 80px;
        height: 80px;
    }
}