<ion-header>
    <ion-toolbar>
        <ion-title>Property Reviews</ion-title>
        <ion-buttons slot="start">
            <!-- <ion-back-button color="primary" defaultHref="/tabs/tab1/rentaldetail/passedId"></ion-back-button> -->
            <ion-button href="/tabs/tab1/rentaldetail/{{passedId}}" routerDirection="back" color="primary" fill="clear" size="small" round strong> </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-back-button color="primary" color="dark" icon="close-circle-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>